<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <p><%= t('.greeting', recipient: @email) %></p>

    <% if @resource.try(:unconfirmed_email?) %>
      <p><%= t('.message', email: @resource.unconfirmed_email) %></p>
    <% else %>
      <p><%= t('.message', email: @resource.email) %></p>
    <% end %>
  </div>
</div>
